<% for (var len = messages.length, i = len - 1; i >= 0; i--) {%>
  <% if (messages[i].created_by === user.id) { %>
    <li class="sent">
      <img src="<%= messages[i].user_icon %>" alt="" />
      <p><%=messages[i].message %></p>
    </li>
  <% } else { %>
    <li class="replies">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Gnome-stock_person.svg/600px-Gnome-stock_person.svg.png" alt="" />
      <p><%=messages[i].message %></p>
    </li>
  <% } %>
<%} %>
 